@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(38, 36, 36, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-list {
  list-style: none; /* Hilangkan bullet bawaan */
}

.custom-list li {
  position: relative; /* Untuk menempatkan gambar dengan ::before */
  padding-left: 30px; /* Berikan jarak untuk gambar */
  display: flex; /* Gunakan flexbox untuk membuat item sejajar */
  align-items: center; /* Pastikan gambar dan teks selalu sejajar secara vertikal */
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 0; /* Tempatkan gambar di kiri */
  top: 50%;
  transform: translateY(-50%); /* Posisikan gambar di tengah vertikal */
  background-image: url('../src/assets/check.png');
  background-size: 16px 16px; /* Sesuaikan ukuran gambar */
  background-repeat: no-repeat;
  width: 16px; /* Tetapkan ukuran gambar yang konsisten */
  height: 16px; /* Tetapkan ukuran gambar yang konsisten */
  opacity: 0.7;
}

.custom-list-white {
  list-style: none; /* Hilangkan bullet bawaan */
}

.custom-list-white li {
  position: relative; /* Untuk menempatkan gambar dengan ::before */
  padding-left: 30px; /* Berikan jarak untuk gambar */
  display: flex; /* Gunakan flexbox untuk membuat item sejajar */
  align-items: center; /* Pastikan gambar dan teks selalu sejajar secara vertikal */
}

.custom-list-white li::before {
  content: '';
  position: absolute;
  left: 0; /* Tempatkan gambar di kiri */
  top: 50%;
  transform: translateY(-50%); /* Posisikan gambar di tengah vertikal */
  background-image: url('../src/assets/check-white.png');
  background-size: 16px 16px; /* Sesuaikan ukuran gambar */
  background-repeat: no-repeat;
  width: 16px; /* Tetapkan ukuran gambar yang konsisten */
  height: 16px; /* Tetapkan ukuran gambar yang konsisten */
  opacity: 0.7;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-light .ant-menu-item, :where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-light>.ant-menu .ant-menu-item, :where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-light .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-light>.ant-menu .ant-menu-submenu-title {
  color: rgb(185 28 28);
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  /* border-bottom: 1px solid rgba(5, 5, 5, 0.06); */
  box-shadow: none;
}

/* .active {
  color: blue;
} */

.custom-table-header .ant-table-thead > tr > th {
  background-color: #F3CB03 !important;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #00A6E6;
  border-color: #00A6E6;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: rgb(0 166 230);
}
